name: Awesome List Linter

on: 
  push:
    branches: ['*']
  workflow_dispatch:
jobs:
  Awesome_Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: npx awesome-lint
